{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="container">
    <div class="form-container">
        <h2>Please insert your WIFI Credentials</h2>
        <form action="{% url 'wifi_setup:form_submit' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="ssid">SSID</label>
                <input class="form-control" type="text" name="ssid" placeholder="SSID" id="ssid">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="text" name="password" placeholder="Password" id="password">
            </div>
            <button class="btn btn-success btn-block" type="submit">LOS</button>
        </form>
    </div>
</div>