[Unit]
Description=Service to handle GPIO Button Presses

[Service]
User=pi
Group=pi
Type=simple
WorkingDirectory=/home/pi/zerocam
ExecStart=/usr/bin/python3 /home/pi/zerocam/zerocam_ui/manage.py runserver 0:8000
RestartSec=10
Restart=on-failure

[Install]
WantedBy=multi-user.target
