[Unit]
Description=Django Server for zerocam Webinterface

[Service]
User=pi
Group=pi
Type=simple
WorkingDirectory=/home/pi/zerocam
ExecStart=/usr/local/bin/pipenv run /home/pi/zerocam/zerocam_ui/manage.py runserver 0:8000
RestartSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target
